In [9]:
import pandas as pd
import sys
sys.path.append('../')
from potnet import *

In [10]:
data = pd.read_csv('../data/credit_card.csv', header=0)
cat_cols = ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']
print(data.shape)
data.head()

(1000, 24)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,50000,2,2,2,29,2,2,2,2,2,...,28768,29639,28629,0,3304,4,2230,0,2009,1
1,70000,2,2,1,46,0,0,0,0,0,...,59665,29510,26738,2600,3700,2600,1200,1200,1000,0
2,160000,2,1,2,27,0,0,-2,-1,-1,...,15866,4168,2067,0,6000,15866,4168,2067,11826,0
3,310000,1,2,2,30,0,0,0,0,0,...,245884,200380,221201,10400,11200,10840,9361,5300,8205,0
4,230000,1,1,1,45,0,0,0,0,0,...,29202,29683,30277,2200,2000,1100,1000,980,1012,0

In [4]:
potnet_model= POTNet(embedding_dim=data.shape[1],
                      categorical_cols=cat_cols,
                      numeric_output_data_type = 'integer', # discrete data
                      epochs=1000,
                      batch_size=64 # small batchsize because number of samples is small
                      )
potnet_model.fit(data)
potnet_model.save('potnet_model.pt')

  0%|          | 0/1000 [00:00<?, ?it/s]

In [6]:
num_samps = data.shape[0]
gen_data = potnet_model.generate(num_samps)
gen_data.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,86301.0,2,3,1,52.0,0,0,0,0,0,...,21005.0,40066.0,5727.0,3861.0,-902.0,10402.0,-7156.0,6232.0,4449.0,0.0
1,69600.0,1,3,2,39.0,1,2,2,2,2,...,59075.0,52997.0,-3678.0,3182.0,-8363.0,25568.0,-6955.0,11036.0,2610.0,1.0
2,101057.0,2,3,2,36.0,0,0,0,0,0,...,45797.0,41244.0,26018.0,4172.0,120.0,13164.0,-1624.0,6631.0,6911.0,0.0
3,10768.0,1,2,2,24.0,2,-2,-1,-1,-1,...,-3953.0,-8216.0,1112.0,1629.0,-2225.0,10515.0,-985.0,5704.0,836.0,0.0
4,214652.0,1,2,1,44.0,0,0,0,0,0,...,93360.0,118750.0,104066.0,14031.0,-2971.0,21376.0,1313.0,13900.0,14740.0,0.0